<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.parealcrm.products.CreateProductsTest"/>
      <class name="com.parealcrm.products.ReportsTab"/>
      <class name="com.parealcrm.products.PurchaseOrdersRunning"/>
      <class name="com.parealcrm.products.LeadRunningPage"/>
      <class name="com.parealcrm.products.ContactRunningPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
